.main_padding_margin {
    padding : 10px;
    margin : 15px;
}
.blog_body {
    font-size: 22px;
}
.blog_excerpt {
  font-size: 9px;
}

.nav-item {
    color : white;
}
.nav-link {
    color : white;
}