<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div th:replace="/common/header :: navbar"/>

<div class="main_padding_margin">
    <h3>Blogs Page</h3>
    <!--AS TABLE-->
    <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr class="table-primary">-->
    <!--<th>Title</th>-->
    <!--<th>Body</th>-->
    <!--<th>Author</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<th:block th:each="blog : ${blogs}">-->
    <!--<tr>-->
    <!--<td th:text="${blog.title}">...</td>-->
    <!--<td th:text="${blog.body}">...</td>-->
    <!--<td th:text="${blog.user}">...</td>-->
    <!--</tr>-->
    <!--</th:block>-->
    <!--</tbody>-->
    <!--</table>-->
    <div align="center">


        <th:block th:each="blog : ${blogs}">
            <a href="blogs.html" th:href="@{/{id}/view(id=${blog.id})}"><p th:text="${blog.title}">...</p></a>
            <p><b>Category:</b><p th:text="${blog.getCategory().toString()}"></p></p>
<!--            <p th:text="'posted by: ' + ${blog.user.firstName}"></p>-->
            <p th:text="'posted on: ' + ${blog.getFormattedDate(blog.createDate)}"></p>
            <p th:class="blog_excerpt" th:text="${blog.body.substring(0, 100)} + '...'" ></p>
        </th:block>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>