<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Found Blogs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div th:replace="/common/header :: navbar"/>

<div class="main_padding_margin">
    <h3>Found Blogs</h3>
    <div align="center">
        <th:block th:each="blog : ${foundByTitleBlogs}">
            <a href="found-blogs.html" th:href="@{/blogs/{id}/view(id=${blog.id})}"><p th:text="${blog.title}">...</p></a>
            <p th:text="'Categoty: ' + ${blog.category}"></p>
            <p th:text="'posted by: ' + ${blog.user.getFirstName()}"></p>
            <p th:text="'posted on: ' + ${blog.getFormattedDate(blog.createDate)}"></p>
            <p th:class="blog_body" th:text="${blog.body.substring(0, 100)}"></p>
        </th:block>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>